html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.flower-form-container {
    max-width: 450px;
    margin: 40px auto;
    background: #ffe6f2; /* soft pink */
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #ffb3d9;
    box-shadow: 0 4px 12px rgba(255, 105, 180, 0.3);
}

    .flower-form-container h2 {
        text-align: center;
        color: #d63384;
        margin-bottom: 20px;
        font-weight: 700;
    }

label {
    color: #c2185b;
    font-weight: 600;
}

.btn-pink {
    background-color: #ff66b3;
    border: none;
    color: white !important;
    font-weight: 600;
    transition: 0.3s;
}

    .btn-pink:hover {
        background-color: #ff3385;
        color: #fff !important;
    }
